.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .title{
    font-size: 28px;
    font-weight: bold;
    color: black;
}
  .example-card{
    max-width: 400px;
    box-shadow: black;
  }
