<div class = container>
  <h1 title>
    {{location.name}}'s Adress
  </h1>

  <mat-card class="example-card">
    <mat-card-subtitle>With AdressById</mat-card-subtitle>
    <mat-card-title>Location</mat-card-title>
    <mat-card-content>
      <p>Id: {{location.id}}</p>
      <p>Name: {{location.name}}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
